@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.welcome {
    border: solid 3px #01eaff;
    width: 600px;
    padding: 10px auto;
    height: 40vh;
}

h1 {
    padding: 30px;
    color: #01eaff;
}

.login {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 40px;
}

#a1,
#a2 {
    background-color: #01eaff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

#a1:hover {
    padding: 12px;
}

#a2:hover {
    padding: 12px;
}

#a2 {
    margin-left: 20px;
}

footer {
    margin-top: 100px;
}

.logo{
    margin-bottom: 50px;
    margin-top: 30px;
}